:root {
    --background-color-light: #ffffff;
    --background-color-dark: #181818;
    --text-color-light: #181818;
    --text-color-dark: #ffffff;
}

body.light-theme {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

body.dark-theme {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.coming-soon {
    font-size: 3em;
    margin-bottom: 20px;
}

.telegram-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
    color: inherit;
    position: relative;
    overflow: hidden;
}

.bubble-container {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.telegram-icon {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
}

.bubble {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: bubble 3s infinite;
    z-index: 1;
}

.bubble:nth-child(2) {
    width: 15px;
    height: 15px;
    animation-duration: 4s;
    animation-delay: 1s;
}

.bubble:nth-child(3) {
    width: 20px;
    height: 20px;
    animation-duration: 5s;
    animation-delay: 2s;
}

@keyframes bubble {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px) scale(1.5);
        opacity: 0;
    }
}

.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#theme-icon {
    font-size: 2em;
}

.sun::before {
    content: "☀️";
}

.moon::before {
    content: "🌙";
}
